@media (max-width: 845px) {
  .template-usergroup-userprefs #users-button-group {
    display: block;

    div {
      margin-bottom: 5px;

      &.px-2 {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 1015px) {
  .template-usergroup-userprefs div.input-group {

  }
}
